@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 8px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f1f9f9;;
    color: white;
    font-family: "DM Mono", monospace;
}

.gridcontainer {
    width: 100%;
    height: 100vh;

    .gallery {
        width: min(900px);
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 10px;

        .card {
            position: relative;
            height: 100px;
            flex: 1;
            overflow: hidden;
            border-radius: 15px;
            cursor: pointer;
            
            transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                
            }

            .info {
                width: 500px;
                position: absolute;
                z-index: 3;
                padding: 15px;
                bottom: 0;
                opacity: 0;
                transition: opacity 1.5s cubic-bezier(0.25, 0.4, 0.45, 1.4);
                box-shadow: inset 0 -120px 120px -120px black,
                    inset 0 -120px 120px -120px black;
            }

            &:hover {
                flex: 5;
                filter: none;

                .info {
                    opacity: 1;
                }
            }
        }
    }
}

// mobile view
@media only screen and (max-width: 912px) {
    .gridcontainer {
        .gallery {
            width: 100%;
            margin: 10px auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .card {
                height: 200px;

                .info {
                    width: 100%;
                    padding: 10px;
                }

                &:nth-child(3n + 3) {
                    grid-column: 1/3;
                }
            }
        }
    }
}